<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>

<footer id="contact">
  <div class="section__container footer_container">
    <div class="footer_col">
      <a href="#" class="logo">
        <img src="/LogoBlanc.png" alt="DANPHOTEL Logo" class="logo-image">
      </a>
      <p>
        Entreprise dynamique, polyvalente, connectée à l'international.
      </p>
      <ul class="footer_social">
        <li>
          <a href="#" ><i class='bx bxl-facebook'></i></a>
        </li>
        <li>
          <a href="#" ><i class='bx bxl-instagram' ></i></a>
        </li>
        <li>
          <a href="#" ><i class='bx bxl-youtube' ></i></a>
        </li>
      </ul>
    </div>
    <div class="footer_col">
      <h4>Quick Links</h4>
      <ul class="footer_links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">E-shop</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer_col">
      <h4> Contact US</h4>
      <ul class="footer_links">
        <li>
          <a href="#">
            <span><i class='bx bxs-phone'></i></span> +237 691 73 17 85
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class='bx bx-voicemail'></i></span> tkdmultiservices&#64;gmail.com
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class='bx bxs-map'></i></span> Douala, Makepet,Cameroun
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_col">
      <h4>Subscribe</h4>
      <form action="/public">
        <input type="text" placeholder="Enter your email">
        <button class="btn"> Subscribe</button>
      </form>
    </div>
  </div>
</footer>
